%h1 Your applications

- @applications.each do |app|
  %div{:class => "application-#{app.id}", style: "width: 100%;"}
    
    %button{onclick: "toggleApplicationContent(#{app.id})", class: 'application-button'}="#{app.job.title} - #{app.job.user.company_information.name}"



    %div.application-content{id: app.id, style: "display: none;"}
      %div.application-row
        %p Applied on:
        %p= app.created_at.strftime('%Y-%m-%d')
      %div.application-row
        %p With CV:
        %p= app.cv.title
      %div.application-row
        %p Status:
        - if !app.viewed
          %p Pending evaluation 
        - else
          %p Viewed
          // cancel-application-button class is used in JS
      %div.appliation-button-wraper
        = link_to "Cancel Application", cancel_application_profile_path(app.id), method: :delete, remote: true, class: "cancel-application-button", data: { app_id: app.id }

        


= paginate @applications, remote: true

:javascript
  $(document).on('click', '.cancel-application-button', function(e) {
    e.preventDefault();
    var appId = $(this).data('app-id');
    $('.application-' + appId).slideUp();
  });

  function toggleApplicationContent(id){
    $(".application-content#"+id).slideToggle();
  }