- user_info = @app.cv.user.user_information
= user_info.first_name + " " + user_info.last_name

CV details:
//aici trebe css sa apara ca un cv sau cum vrei tu


Matching by: 
= matching_by(@app.job, @app.cv)+"%"

%br

Skills:
- @app.cv.skills.each do |skill|
  = skill.title

%br

- if @app.cv.picture.attached?
  %img{src: url_for(@app.cv.picture), alt: "CV Picture", style: "width: 100px; height: 100px;"}
- else
  %p No picture attached.

%br

//educatie
- @app.cv.educations.each do |ed|
  Institution:
  = ed.institution
  Specialization:
  = ed.specialization
  Degree:
  = ed.degree
  Started At:
  = ed.started_at
  - if ed.ongoing
    Ongoing
  - else
    Finished At
    = ed.finished_at

%br
//experienta
- @app.cv.experiences.each do |exp|
  Title:
  = exp.title
  Employer:
  = exp.employer
  Description:
  = exp.description
  Started At:
  = exp.started_at
  - if exp.ongoing
    Ongoing
  - else
    Finished At
    = exp.finished_at

%br

- if @app.cv.pdfs.attached?
  CV attached:
  - @app.cv.pdfs.each do |pdf|
    %a{href: url_for(pdf), target: "_blank"} PDF File
- else
  %p No PDFs attached.