!!!
%html
  %head
    %title Jobs For Students
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{charset:"UTF-8"}
    = csrf_meta_tags
    = csp_meta_tag
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"}
    %link{rel: "stylesheet", href:"https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css", integrity:"sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls", crossorigin:"anonymous"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - unless devise_controller?
      %div#flash-messages
      = render "layouts/menu"
    = yield
