%div.skill
  %h1
    Add Skills:
  %p Very Important! This will help you find the best jobs matches.

  = form_tag(add_skills_cv_path(id: @cv), method: :patch, remote: true) do
    .pickskills
      = label :title, "Pick skills", class: 'form-label', style: "margin-bottom: 0px; margin-right: 10px; font-size: 1.25rem"
      = select_tag 'skill_ids[]', options_from_collection_for_select(@available_skills, :id, :title, @cv.skills.map(&:id)), { multiple: true, id: 'multiple', style: 'z-index: 0 !important;' }
    %div.modal-buttons
      = submit_tag "Save", class: "login-button", onclick: "handleFormSubmission(this.form);"

= javascript_include_tag 'cv'

:javascript
  document.addEventListener('DOMContentLoaded', function () {
    var select = new SlimSelect({
      select: '#multiple',
      placeholder: 'Select Skills',
      allowDeselect: true,
    });
  });