%div.skill
  %h1
    Add Skills:
  %h3 Very Important! This will help you find the best jobs matches.
  = form_for @cv, url: add_skills_cv_path(cv_id: @cv.id), remote: true do |f|
    .pickskills
      = f.label :title, "Pick skills", class: 'form-label', style: "margin-bottom: 0px; margin-right: 10px; font-size: 1.25rem"  
      = f.select :skill_ids, options_for_select(@available_skills.all.map { |skill| [skill.title, skill.id] }, @cv.skills.pluck(:id)), { include_blank: true }, { class: 'chosen-select', multiple: true }

    = f.submit "Save", class: "login-button", onclick: "handleFormSubmission(this.form);"

  = javascript_include_tag 'cv'